<div class="container" style="margin-top: 2rem">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead class="table-light">
          <tr>
            <th *ngFor="let key of keys" (click)="sortTable(key)">
              {{ key }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index">
            <td>{{ user.Id }}</td>
            <td>{{ user.Name }}</td>
            <td>{{ user.Class }}</td>
            <td>{{ user["Subject One"] }}</td>
            <td>{{ user["Subject Two"] }}</td>
            <td>{{ user["Subject Three"] }}</td>
            <td>{{ user["Subject Four"] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
